
/* Your CSS Code here. */
body {
  margin: 0;
  padding: 20px;
}

.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  height: 100px;
  font-size: 32px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

/* Colors */
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}